/* Sticky footer styles */
.td-no-group
{
    background-color: #101214;
    border: solid 1px darkgrey;
    border-collapse: collapse;
    width: 175px;
    height: 30px; 
    line-height: 1.35;
}
.td-group
{
    background-color: #272727;
    border: solid 1px darkgrey;
    font-weight: bolder;
    font-style: normal;
    font-size: initial;
    width: 350px;
    height: 25px;
}
.form-control{
    padding-left: 0px;
}
input[type=checkbox]{
    width: 15px !important;
    margin-left: 2px;
}
div.propertyGrid input, select
{
    border: none !important;
    width: auto;
    margin-left: 2px;
    color: grey;
    background-color: #101214;   
} 
.container .text-muted {
    margin: 20px 0;
}
