/* Sticky footer styles */
.td-no-group
{
    background-color:white;
    border-top: solid 1px darkgrey;
    border-right: solid 1px darkgrey;
    border-collapse: collapse;
    width: 175px;
    height: 30px; 
    line-height: 1.35;
}
.td-group
{
    background-color: aliceblue;
    border-top: solid 1px darkgrey;
    color: black;
    font-weight: bolder;
    font-style: normal;
    font-size: initial;
    width: 350px;
}
.form-control{
    padding-left: 0px;
}
input[type=checkbox]{
    width: 15px !important;
    margin-left: 2px;
}
div.propertyGrid input
{
    border:0px;
    width: 100px
    margin-left: 2px;   
} 
.container .text-muted {
    margin: 20px 0;
}
