<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FAKE" version="4.63.2" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.5.2" targetFramework="net40" requireReinstallation="true" />
  <package id="WebSharper" version="4.0.189.96-rc" targetFramework="net40" />
  <package id="WebSharper.FSharp" version="4.0.189.96-rc" targetFramework="net40" />
  <package id="WebSharper.UI.Next" version="4.0.4.84-rc" targetFramework="net40" />
</packages>