<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.5.0" targetFramework="net40" />
  <package id="Zafir" version="4.0.180.81-beta9" targetFramework="net40" />
  <package id="Zafir.FSharp" version="4.0.180.81-beta9" targetFramework="net40" />
  <package id="Zafir.UI.Next" version="4.0.159.68-beta9" targetFramework="net40" />
</packages>